/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 15px;

}

.logo{
  width: 100px;
  height: 100px;
}

li, a, .logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;

}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 4px;
  background-color: black;
  margin: 5px;
}

.nav_list, .footer-nav {
  list-style: none;
}

.nav_list li, .footer-nav li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_list li a, .footer-nav li a {
  transition: all 0.3s ease 0s;
}

.nav_list li a:hover {
  background-color: #5c00ad;  
  color: rgba(255, 255, 255, 0.904);
  box-shadow: 5px -5px 7.5px #a4ad009a ;
  padding: 3.5px 10px;
  border-radius: 3.5px;
}

@media ( max-width: 999px){
  ul.nav_list {
    position: absolute;
    top: 0vh;
    right: 0;
    width: 100vw;
    height: 100vH;
    background-color: #3e410d9a;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }

  .nav_list li{
    margin-left: 0;
    opacity: 0;
  }

  .nav_list a {
    color: white;
  }

  .mobile-menu {
    display: block;
  }
}

.nav_list.active {
  transform: translateX(0);
}